/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&family=Roboto:wght@300;400&display=swap');

:root {
    --primary-color: #70C3FF;
    --secondary-color: #F6AA1C;
    --accent1-color: #23001E;
    --accent2-color: #53FF45;
  --heading-font: 'Roboto', serif;
  --paragraph-font: 'Poppins', serif;
  --nav-background-color: #881600;
  --nav-link-color: #23001e;
  --nav-hover-link-color: #53FF45;
  --nav-hover-background-color: #002642;
}
h1, h2, p {
    font-family: var(--heading-font);
color: var(--primary-color);
}
nav {
    text-decoration: none;
    display: flex;
    float: right;   
}
* {
    max-width: 800px;
    text-decoration: none;
}
div .h1 {
    position: absolute;
}
div .article {
    position: absolute;
}
div .hero img {
    display: flex;
    width: 100%;
    height: auto;
} 
div h1 {
    position: absolute;
    display: inline-flex;
}
article {
display: flex;
}
div article img {
    float: right;
    width: 100px;
    display: flex;
    height: auto;
}
header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
header img {
    float: left;
}
header nav a {
    /* float: right; */
    /* display: inline-block; */

/*section.h2 {
    display: flex;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&family=Roboto&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    color: #339;
    background: #fff;
}
header {
margin: 0 auto;
width: 650px;
font-variant: small-caps;
/* margin: 1rem;
font-size: 1.5rem;
color: navy;
text-align: center;
text-wrap: nowrap; */
}
form {
   width: 650px;
   margin: 0 auto;
   padding: 1rem;
   border: 10px solid rgba(0, 0, 0, 0.1);
   border-radius: 1rem;
   background-color: #300;
   display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
label, select, button, textarea {
    font-family: Arial, Helvetica, sans-serif;
}
label {
    padding-left: 1rem;
    text-align: left;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: text-top;
}
button:hover{
    cursor: pointer;
    color: darkgreen;
}
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}
.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}