@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&family=Roboto:wght@300;400&display=swap');

:root {
    --primary-color: #70C3FF;
    --secondary-color: #F6AA1C;
    --accent1-color: #23001E;
    --accent2-color: #53FF45;
  --heading-font: 'Roboto', serif;
  --paragraph-font: 'Poppins', serif;
  --nav-background-color: #881600;
  --nav-link-color: #23001e;
  --nav-hover-link-color: #53FF45;
  --nav-hover-background-color: #002642;
}
h1, h2, p {
    font-family: var(--heading-font);
color: var(--primary-color);
}
nav {
    text-decoration: none;
    display: flex;
    float: right;   
}
* {
    max-width: 800px;
    text-decoration: none;
}
div .h1 {
    position: absolute;
}
div .article {
    position: absolute;
}
div .hero img {
    display: flex;
    width: 100%;
    height: auto;
} 
div h1 {
    position: absolute;
    display: inline-flex;
}
article {
display: flex;
}
div article img {
    float: right;
    width: 100px;
    display: flex;
    height: auto;
}
header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
header img {
    float: left;
}
header nav a {
    /* float: right; */
    display: inline-block;
}
section.h2 {
    display: flex;
}