@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&family=Roboto&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label {
    padding-left: 1rem;
    text-align: left;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}